@tailwind base;
@tailwind components;
@tailwind utilities;

@import './muidatepicker.css';

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 24, 24, 24;
  --background-end-rgb: 24, 24, 24;
  --scrollbar-color: rgba(255, 255, 255, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 24, 24, 24;
    --background-end-rgb: 24, 24, 24;
    --scrollbar-color: rgba(255, 255, 255, 0.2);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
  /* background: blue; */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

html,
body,
#root {
  height: 100%;
}

/* START: scrollbar */
/* For WebKit-based browsers (such as Safari and Chrome) */
/* Hide the default scrollbar */
::-webkit-scrollbar {
  display: none;
  /* width: 6px; */
}

/* Define the custom scrollbar track */
.tw-overflow-y-scroll {
  scrollbar-width: thin !important;
  scrollbar-color: var(--scrollbar-color); /* Customize the colors as needed */
}

/* Define the custom scrollbar thumb */
.tw-overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color); /* Customize the color as needed */
  border-radius: 6px;
}

/* Define the custom scrollbar thumb on hover */
.tw-overflow-y-scroll:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color); /* Customize the color as needed */
}

/* For Firefox */
/* Note: Firefox does not support changing the width of the scrollbar */
/* The following styles only change the colors */
/* You can adjust the colors to fit your design */

/* To hide the default scrollbar in Firefox */
html {
  scrollbar-width: none;
}

/* To style the scrollbar */
html {
  scrollbar-color: var(--scrollbar-color) #f1f1f1;
}
/* END: scrollbar */
