/* --------------------------------START: Custom MUI DatePicker Style-------------------------------------- */
/**
* why override globally
* this header is made to mimic the MUI V4 datepicker for ALL datepicker component across the apps
* so, dont do it in each component's sx. You will have code duplication
* MUI datepicker is not available in Theme and and overriding them in sx was unsuccessful,
* hence, do it here.
*
* IMPORTANT!
* This is just a workaround to accomodate the desired styling.
* Workaround will always have a limit.
*
* Related article with similar issue:
* https://github.com/mui/mui-x/issues/6218
* "In usual DatePicker the sx prop won't work as it is not propagated to the popper/modal, which is opened and appended to the bottom of body (be default)."
* 
* Suggestions:
* Follow the default styling corresponding to the installed version.
*/

.MuiPickersCalendarHeader-labelContainer {
  /* this is the month and it's year dropdown */
  margin-left: auto !important;
  margin-right: auto !important;
  z-index: 10 !important; /*this is a must! */
}

.MuiPickersArrowSwitcher-root {
  /* this is the next/prev arrow */
  max-width: 285px; /* make sure the switcher dimension is consistent across all datepicker*/
  margin-left: auto; /*make sure it doesnt overlapped the selected date view when orientation is landscape */
  display: flex !important;
  justify-content: space-between !important;
  position: absolute !important;
  left: 16px !important;
  right: 16px !important;
}

/*For clarity, change the hover styles to a more contrast color*/
.MuiPickersYear-yearButton:hover,
.MuiPickersDay-root:hover {
  background-color: white;
  color: #121212;
}

/* --------------------------------END: Custom MUI DatePicker Style-------------------------------------- */
